.tabWrap {
  background: var(--dark-text);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8rem;
}

.cardWrap {
  display: flex;
  flex-direction: column;
  padding: 3rem 8rem;
}
.cardsHeading {
  margin: auto;
  text-align: center;
  width: 100%;
  max-width: 800px;
}
.cardsHeading h2 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
}
.description {
  font-size: 1.25rem;
  margin-bottom: 3.5rem;
  line-height: 28px;
  color: var(--subSecondary-text);
}
.allCards{
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
}


@media (max-width: 768px) {
  .tabWrap {
    padding: 3rem 1.5rem;
    flex-direction: column;
  }
  .cardWrap{
    padding: 3rem 1.5rem;
  }
  .cardsHeading h2 {
    font-size: 24px;
  }
  .description {
    font-size: 1.1rem;
  }
  .allCards{
    gap: 20px;
  }
}

@media (max-width: 1024px) {
  .tabWrap {
    padding: 3rem 1.5rem;
    flex-direction: column;
  }
  .cardWrap{
    padding: 3rem 1.5rem;
  }
}

@media (max-width: 470px) {
  .tabWrap {
    padding: 3rem 1rem;
    flex-direction: column;
  }

}