.techSection {
  padding: 3rem 18rem;
  /* background: #f9fafb; */
  text-align: center;
}

.heading {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  color: var(--white-color);
}
.text {
  font-size: 18px;
  color: var(--subSecondary-text);
  line-height: 1.5;
  margin-bottom: 3.5rem;
}
.cardGrid {
    display: grid;
    gap: 2rem;
    /* grid-template-columns: repeat(2, 1fr); */
 }
  

.card {
  background: #1e232e;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  border-radius: 12px;
  margin-bottom: 2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  flex-direction: row;
}
.cardReverse {
    flex-direction: row-reverse;
  }
  

.card:hover {
  box-shadow: 0 12px 30px rgb(0 0 0 / 0.1);
}

.contnet{
    text-align: left;
    max-width: 800px;
    /* flex: 1; */
}

.title {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--white-color);
}

.description {
  font-size: 1rem;
  color: var(--subSecondary-text);
  margin-bottom: 1rem;
  line-height: 1.5;
}

.techList {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.techItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.75rem;
  color: var(--white-color);
  cursor: default;

  
}

.techIcon {
  width: 55px;
  height: 55px;
  margin-bottom: 6px;
  object-fit: contain;
  border: 2px solid gray;
  border-radius: 6px;
  padding: 4px;
}
.techItem span {
    font-size: 14px;
}
.image{
    flex: 1;
    display: flex;
    justify-content: center;
    height: 300px;
}

.cardIcon {
    width: 300px;
    height: auto;
  }

@media (max-width: 768px) {
    .cardGrid {
      grid-template-columns: 1fr;
    }
    .techSection {
      padding: 3rem 1.5rem;
    }
    .card{
      flex-direction: column-reverse;
    }
    .image{
      height: 200px;
    }
    .image img {
      width: 200px;
    }
  }
  

  @media (max-width: 1024px) {
    .techSection {
      padding: 3rem 1.5rem;
    }
  }

  @media (max-width: 470px) {
    .techIcon{
      width: 40px;
      height: 40px;
    }
  }

